section{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: fit-content;
    background-color: #130867;
    background-image: url('https://images.all-free-download.com/images/graphiclarge/sunflower_image_06_hd_pictures_167025.jpg');
    align-items: center;
    padding-bottom: 10px;
}
table{
    margin-top: 5px;
}
table td{
    padding: 15px;
    text-align: center;
    cursor: pointer;
}
input{
    padding: 10px;
}
.remove{
    display: none;
}
.blockDisplay{
    display: block;
}